.signature {
    margin-top: 200px;
}
.signature .inner {
    width: 1400px;
    margin: auto;
}
.signature h2 {
    font-size: 130px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 140px;
    color: #000;
}
.signature .sign-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 120px; */
    /* background: #000; */
    gap: 200px;
}
.signature .sign-con {
}
.signature .sign-con .img-con {
    border: 1px solid #000;
    padding: 30px;
    /* background: #000; */
}
.signature .sign-con .img-con img {
    border: 1px solid #000;
    margin-bottom: 15px;
}
.signature .sign-con .img-con .img-btn {
    display: flex;
    justify-content: space-between;
    width: 240px;
    border: 1px solid #000;
    padding: 14px 10px;
    margin-left: 328px;
}
.signature .sign-con .img-con .img-btn p {
    font-size: 16px;
}

.signature .sign-con h3 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 43px;
    text-align: right;
}
.signature .con2 h3 {
    text-align-last: left;
}
.signature .con2 p {
    text-align-last: left;
}
.signature .con2 .sign-txt .btn {
    margin-left: 0;
    /* background: #000; */
}

.signature .sign-con p {
    font-size: 28px;
    font-weight: 500;
    color: #333333;
    text-align: right;
}
.signature .sign-con .btn {
    display: flex;
    border: 1px solid #000;
    justify-content: space-between;
    width: 280px;
    padding: 14px 10px;
    margin-top: 30px;
    margin-left: 300px;
}
.signature .sign-con .btn p {
    font-size: 16px;
}

.signature .con2 {
    margin-top: 100px;
}
.signature .con2 .img-con {
}
.signature .con2 .img-con img {
}
.signature .con2 .img-con .img-btn {
    margin-left: 265px;
}

.signature .con3 {
    margin-top: 100px;
}
.signature .con3 .img-con {
}
.signature .con3 .img-con img {
}
.signature .con3 .img-con .img-btn {
    margin-left: 250px;
    cursor: pointer;
}
