.season {
    width: 100%;
    margin-top: 200px;
}
.season .inner {
    width: 1748px;
    height: 688px;
}
.season h2 {
    font-size: 50px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 40px;
}
.season .season-menu {
    display: flex;
    justify-content: center;
    gap: 34px;
}
.season .season-menu .season-card {
    border: 1px solid #000;
    /* background: red; */
    width: 560px;
    height: 600px;
    padding: 30px;
}

.season .season-menu li img {
    padding: 50px 30px;
    width: 500px;
    height: 400px;
    border: 1px solid #000;
    margin-bottom: 15px;
}
.season .season-menu li .btn {
    width: 240px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    padding: 14px 10px;
    margin-left: 300px;
    cursor: pointer;
}

.season .season-menu li .btn p {
}
.season .season-menu li .btn p:last-child {
}
