.product {
    width: 100%;
    margin-top: 100px;
}
.product .inner {
    width: 100%;
    position: relative;
}
.product h2 {
    font-size: 50px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 40px;
}
.product select {
    position: absolute;
    font-size: 20px;
    right: 83px;
    top: -50px;
    width: 110px;
    border-radius: 2px;
    padding: 0 20px;
    height: 30px;
    background: #f7f0da;
    border: 1px solid #1b4a31;
}

.product .menu {
    display: flex;
    justify-content: center;
    gap: 34px;
    flex-wrap: wrap;
}
.product .menu .menu-card {
    border: 1px solid #000;
    width: 500px;
    padding: 30px;
}

.product .menu .menu-card img {
    padding: 50px 24px;
    width: 450px;
    height: 350px;
    border: 1px solid #000;
    margin-bottom: 15px;
}
.product .menu .menu-card .btm-box {
    /* display: flex; */
    position: relative;
}
.product .menu .menu-card .btm-box > p {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    /* background: #000; */
    font-size: 20px;
    font-weight: 500;
}

.product .menu .menu-card .btn {
    width: 228px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    padding: 14px 10px;
    margin-left: 250px;
    cursor: pointer;
}

.product .menu li .btn p {
}
.product .menu li .btn p:last-child {
}
